{% extends "_base.html" %}

{% block body %}
{% block jumbotron %}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1>{{this.title}}</h1>
          <p>{{this.abstract}}</p>
       </div>
    </div>
  </div>
</div>
{% endblock %}

<div class="container">
  <div class="row">
    <div class="content">
      {% block content %}
      <div class="col-md-8 col-md-offset-2" role="main">
        <div role="main">
        {{this.body}}
        </div>
      </div>
      {% endblock %}
    </div>
    
    <div class="col-md-12 thumbnail-index" role="main">
      {% for item in this.content|excludefuture(this.excludefuture) %}
      {% include 'thumbnail.html' %}
      {% endfor %}
    </div>
    
	{% if this.recent %}
    <div class="col-md-8 col-md-offset-2" role="main">
        <h2 class="recent-items" id="recent">Recente items</h2>
    </div>

    <div class="col-md-12 thumbnail-index" role="main">
      {% for item in this.content|filtercontent(this.recent)|excludefuture(this.excludefuture)|filterlatest(12) %}
            {% include 'thumbnail.html' %}
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
    
{% include 'footer.html' %}

{% endblock %}
